<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DB_HOSTNAME" value="essql1.walton.uark.edu"/>
        <env name="DB_DATABASE" value="isys4283-test"/>
        <env name="DB_STUDENT_USERNAME" value="isys4283-2017fa"/>
        <env name="DB_STUDENT_PASSWORD" value=""/>
        <env name="DB_ADMIN_USERNAME" value="GACL\jpucket"/>
        <env name="DB_ADMIN_PASSWORD" value=""/>
    </php>
</phpunit>
